$desktop: 1024px;

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #3d52a0;
  color: #ede8f5;
}

header {
  background-color: #7091e6;
  color: #ede8f5;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

nav ul li button:hover {
  background-color: #0056b3;
}

nav ul li.active button {
  background-color: #fff;
  color: #007bff;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  color: #8697c4;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
}

input[type='text'],
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #adbbda;
  background-color: #ede8f5;
  color: #3d52a0;
}

button {
  padding: 5px 10px;
  background-color: #7091e6;
  color: #ede8f5;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #8697c4;
}

#title {
  font-weight: bold;
}

.content {
  color: #adbbda;
}

button:hover {
  background-color: #8697c4;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

input[type='text']:focus,
textarea:focus {
  border: 2px solid #7091e6;
}

form {
  width: 60%;
  margin: auto;
}

section:first-child {
  background-color: #ede8f5;
  padding: 10px;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #7091e6;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  display: block;
}

input[type='checkbox'],
input[type='radio'] {
  margin-right: 5px;
}

nav ul li ul {
  z-index: 1;
}

.App {
  text-align: center;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-list img {
  width: 400px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
}

.poetry-blog {
  background-color: #8697c4;
  padding: 20px;
}

.poetry-blog h2 {
  color: #3d52a0;
}

.poetry-blog p {
  color: #3d52a0;
}

.image-list .center-blog {
  flex: 1;
}

.image-list .thumbnail-list {
  flex: 1;
  max-height: 600px;
  overflow-y: auto;
}

.image-list .thumbnail {
  margin-bottom: 20px;
  text-align: center;
  background-color: #adbbda;
  padding: 10px;
}

.image-list .thumbnail img {
  max-width: 100%;
}

.image-list .thumbnail h2 {
  color: #7091e6;
}

.image-list .thumbnail p {
  color: #ede8f5;
}

.image-list .thumbnail-list {
  overflow-y: scroll;
  padding-right: 20px; /* Add padding to account for the scrollbar width */
}
